
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";
@import "blocks/header";
@import "blocks/section-fotoshoot";
@import "utils/desc";
@import "utils/commits";
@import "blocks/section-sponsor";
@import "blocks/entry";
@import "utils/date-picker";
@import "blocks/review";
@import "utils/review-card";
@import "blocks/footer";
@import "utils/modal.cscc";

body {
	width: 100%;
	min-width: 320px;
	//height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: $mainFont;
}
.wrapper {
	width: 100%;
	overflow-x: hidden;
	//max-width: 1914px;
	//width: 1914px;
	//background: $defaultColor;

	@media (max-width: 1920px) {
		width: 100%;
	}
}

.container {
	width: (1140 / 1920 * 100%);
	max-width: 1145px;
	display: flex;
	z-index: 10;

	@media (max-width: 1680px) {
		width:90% ;
	}


}

.logo {
	font-family: $mainFont;
	text-transform: uppercase;
	font-size: 33px;
	font-weight: $mediumFontWeight;
	letter-spacing: -2px;

	@media (max-width: $tableWidth) {
		font-size: 22px;
	}
}

.main {
	width: 100%;
	//display: flex;
	//flex-direction: column;
	//align-items: center;
	//justify-content: flex-start;
}
.section__map {
	width: 100%;
}


#map {
	width: 100%;
	height: 509px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
//.map {
//	display: flex;
//	justify-content: center;
//	align-items: center;
//	&__meeting {
//		position: relative;
//	}
//}

.meeting {
	width: 100%;
	&__container {
		position: relative;
		background: $defaultColor;
		//width: 30%;
		height: 20px;
	}
}

.map{
	position: relative;
	display: flex;
	justify-content: center;

	align-items: center;

	@media (max-width: $smallWidth) {
		flex-direction: column;
		row-gap: 50px;
	}

	&__block {
		position: absolute;
		left: 25.9%;
		height: 92%;
		width: 20%;
		max-width: 420px;

		@media (max-width: 1680px) {
			left: 5%;
		}

		//@media (max-width: 1080px) {
		//	left: 5%;
		//}

		@media (max-width: $smallWidth) {
			position: relative;
			width: 90%;
			left: 0%;
		}
	}

	&__hint {
		width: 100%;
		background: $defaultColor;
		padding: 50px 30px;
		border: 1px solid $lineColor;
		display: none;
		flex-direction: column;
		row-gap: 35px;

	}
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 35px;
	}

	&__item {
		display: flex;
		align-items: center;
		column-gap: 18px;

		& > .img {
			-webkit-column-gap: 9px;
			-moz-column-gap: 9px;
			column-gap: 9px;


		}
	}
	&__img {
		width: 19%;
		height: 0;
		padding-bottom: 19%;
		position: relative;

		& > img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border-radius: 50%;
			object-fit: cover;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		row-gap: 2px;
	}

	&__info {
		min-width: 61px;
		max-width: 67px;
		min-height:61px;
		max-height: 67px;
		background: $activeColor;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $defaultColor;
		font-weight: 700;
		font-size: 35px;
	}

	&__title {
		font-weight: 500;
		font-size: 18px;
		color: $mainFontColor;
	}

	&__text {
		font-weight: 400;
		font-size: 18px;
		color: $mainFontColor;
	}

	&__more {
		font-weight: 500;
		font-size: 14px;
		color: $showColor;
		cursor: pointer;
		padding: 5px 0;
	}

}

.false {
	display: flex;
	overflow-x: auto;

	&__item {
		display: flex;
	}

	& .map__content {
		align-items: flex-start;
	}

	&__list {
		min-width: 100%;
		min-height: 150px;
		display: flex;
		overflow: hidden;
		width: max-content;
		position: relative;
		align-items: center;
	}

	& .map__item {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 20px;
	}

	& .map__content {
		row-gap: 10px;
		text-align: center;
	}

	& .time {
		position: absolute;
		left: 100%;

	}

	& .numb {
		position: absolute;
		left: 100%;
	}

	& .arrow-left {
		position: absolute;
		left: -10px;
		transform: rotate(90deg);
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		& svg {
			width: 15px;
			height: 30px;
		}
	}

	& .arrow-right {
		position: absolute;
		right: -10px;
		transform: rotate(-90deg);
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		& svg {
			width: 15px;
			height: 30px;
		}
	}
	&__rings {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 10px;


	}
	&__ring {
		color: aqua;
		
		&.active {

			& > svg path {
				fill: $activeColor;
				stroke: $activeColor;
			}
		}
	}

}


.img {

	-webkit-column-gap: 9px;
	-moz-column-gap: 9px;
	column-gap: 9px;

	& > map__info {
		width: 19%;
		height: 0;
		padding-bottom: 19%;
		position: relative;

		& > img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border-radius: 50%;
			object-fit: cover;
		}
	}
}
