
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";
@import "blocks/header";
@import "blocks/section-fotoshoot";
@import "utils/desc";
@import "utils/commits";
@import "blocks/section-sponsor";
@import "blocks/entry";
@import "utils/date-picker";
@import "blocks/review";
@import "utils/review-card";
@import "blocks/footer";
@import "utils/modal.cscc";
@import "blocks/map";
@import "blocks/section-foto-collection";

* {
	font-family: $mainFont;
}

body {
	width: 100%;
	min-width: 320px;
	height: 100%;
	min-height: 100vh;
	//display: flex;
	//flex-direction: column;
	//justify-content: center;
	//align-items: center;
	font-family: $mainFont;
	position: relative;
}
.wrapper {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	margin: 0;
	overflow-x: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media (max-width: 1920px) {
		width: 100%;
	}
}

.container {
	width: (1140 / 1920 * 100%);
	max-width: 1145px;
	display: flex;
	z-index: 10;

	@media (max-width: 1680px) {
		width: 93% ;
	}
}
.more {
	transition: all $transitionTime;

	&:hover {
		text-decoration: underline;
		color: $showColor;

		& > svg path {
			fill: $productNameColor;
		}
	}

	&:hover > p{
		color: $showColor;
		text-decoration: underline;
	}
}
.logo {

	&__link {
		font-family: $mainFont;
		text-transform: uppercase;
		font-size: 33px;
		font-weight: $mediumFontWeight;
		letter-spacing: -2px;
		color: $borderButtonArray;
		transition: all $transitionTime;

		@media (max-width: $tableWidth) {
			font-size: 22px;
		}

		&:hover {
			color: $productNameColor;
		}
	}
}

main {
	width: 100%;
	height: 100%;
	flex-grow: 1;
}
.section__map {
	width: 100%;
}

.meeting {
	width: 100%;
	&__container {
		position: relative;
		background: $defaultColor;
		height: 20px;
	}
}

