
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";
@import "blocks/header";
@import "blocks/section-fotoshoot";
@import "utils/desc";
@import "utils/commits";
@import "blocks/section-sponsor";

body {
	width: 100%;
	min-width: 320px;
	//height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: $mainFont;
}
.wrapper {
	width: 100%;
	//max-width: 1914px;
	//width: 1914px;
	//background: $defaultColor;

	@media (max-width: 1920px) {
		width: 100%;
	}
}

.container {
	width: (1140 / 1920 * 100%);
	max-width: 1145px;
	display: flex;
	z-index: 10;
}

.main {
	width: 100%;
	//display: flex;
	//flex-direction: column;
	//align-items: center;
	//justify-content: flex-start;
}


