
block variable

.header__present
	.header__background
		.header__image
			img(src="assets/img/helicopter.png" alt="helicopter" srcset="assets/img/helicopter@2x.png")
	.header__description.container
		.header__title
			h1
				span.header__title_white Эксклюзивная
				span.header__title_yellow  фотосессия
				span.header__title_white  при полете на вертолете
		.header__build
			.header__price
				p.header__desc Стоимость:
				p.header__rate 1500₽
			.header__sale %
		button.header__button Забронировать место

