block variables

include ../mixins/review-card

section.reviews
	.reviews__container.container
		.reviews__title
			h3 Отзывы:
		.reviews__cards.cards
			ul.cards__list
				for index, key in reviewCards
					+reviewCard(key)
			.reviews__more.more
				button.more__text.more
					| !{arrow}
					p Показать Все (134)
					| !{arrow}
				button.more__text-false.more
					p Показать Все (134)
					| !{arrow}