extends ../layout/main

//- block variables
	//- include ../includes/vars/variables
	//- include ../includes/modules/commits

block headerScripts
	script(src="https://api-maps.yandex.ru/2.1/?apikey=d97b3be7-0320-4f5e-b565-77e82331ba7a&lang=ru_RU")

block header
	.header__present
		.header__background
			.header__image
				img(src="assets/img/helicopter.png" alt="helicopter" srcset="assets/img/helicopter@2x.png")
		.header__description.container
			.header__title
				h1
					span.header__title_white Эксклюзивная
					span.header__title_yellow  фотосессия
					span.header__title_white  при полете на вертолете
			.header__build
				.header__price
					p.header__desc Стоимость:
					p.header__rate 1500₽
				.header__sale %
			button.header__button Забронировать место
	include ../includes/modules/modal
block main
	main#main.main
		include ../includes/modules/section-fotoshoot
		include ../includes/modules/photo-collection
		include ../includes/modules/section-sponsor
		include ../includes/modules/entry
		include ../includes/modules/map
		include ../includes/modules/review

