.cards {

	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 30px;
	}

	&__list-false {
		display: none;
		flex-direction: column;
		row-gap: 30px;
		margin-top: 30px;

		&.active {
			display: flex;
		}
	}

	&__item {

		@media (max-width: $tableWidth) {

			&:last-child {
				display: none;
			}
		}
	}
	&__container {
		width: 55%;
		display: grid;
		grid-template-areas:
				"photo name name"
				"photo job job"
				"photo star like"
				"photo text text";
		grid-template-columns: minmax(84px, 101px) 23% auto;
		grid-column-gap: 20px;
		grid-row-gap: 11px;

		@media (max-width: $smDesktopWidth) {
			width: 80%;
		}

		@media (max-width: $tableWidth) {
			width: 100% !important;
			grid-template-areas:
							"photo name"
							"photo job"
							"photo star"
							"like like"
							"text text";
			grid-template-columns: minmax(84px, 101px) auto;
			grid-row-gap: 3px;
		}
	}

	&__img {
		grid-area: photo;
		width: 100%;
		max-width: 101px;

		@media (max-width: $smPhoneWidth) {
			max-width: 84px;
		}
	}

	&__photo {
		grid-area: photo;
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		position: relative;

		& > img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border-radius: 50%;
			object-fit: cover;
		}
	}

	&__content {
		width: 44.6%;
		border-bottom: 1px solid $lineColor;
		padding: 10px 0 30px;
		display: flex;
		flex-direction: column;
		row-gap: 11px;
	}

	&__title {
		grid-area: name;
		margin-top: 10px;

		@media (max-width: $tableWidth) {
			margin-top: 6px;
		}
	}

	&__title h4 {
		font-weight: 500;
		font-size: 18px;
		color: $mainFontColor;

		@media (max-width: $tableWidth) {
			font-size: 16px;
		}
	}

	&__job{
		grid-area: job;
	}

	&__job p{
		font-weight: 400;
		font-size: 14px;
		color: $mainFontColor;
	}
	&__rating {
		grid-area: like;
		display: none;
		align-items: center;

		@media (max-width: $tableWidth) {
			margin-top: 19px;
		}

		&.like {
			display: flex;
		}
	}

	&__rating-false {
		grid-area: like;
		display: none;
		align-items: center;

		@media (max-width: $tableWidth) {
			margin-top: 19px;
		}

		&.like {
			display: flex;
		}
	}

	& .stars {
		grid-area: star;
		margin-right: 50px;
		white-space: nowrap;
	}

	& .stars > svg {

		&:not(:last-child) {
			margin-right: 7px;
		}

		&.gray {
			filter: grayscale(80%);
			opacity: 0.2;
		}
	}

	&__rating-like {
		height: 17px;
		margin-right: 4px;
		display: flex;
		align-items: flex-start;
	}

	&__rating-dislike {
		height: 17px;
		margin-right: 4px;
		display: flex;
		align-items: flex-start;
	}

	&__rating-likeText {
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		color: $mainLightFont;
		white-space: nowrap;
	}

	&__rating-dislikeText {
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		color: $mainLightFont;
		white-space: nowrap;
	}

	&__review {
		grid-area: text;
		margin-top: 11px;
		border-bottom: 1px solid $lineColor;
		padding-bottom: 30px;

		@media (max-width: $tableWidth) {
			margin-top: 12px;
			padding-bottom: 40px;
		}
	}

	&__date {
		font-weight: 400;
		font-size: 14px;
		color: $mainLightFont;
		margin-top: 17px;

		@media (max-width: $tableWidth) {
			margin-top: 39px;
		}
	}
}

.review {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: $mainFontColor;

	@media (max-width: $tableWidth) {
		font-size: 14px;
		line-height: 21px;

	}
}