// Font
$mainFont                : "Montserrat";

// Size
$mainFontColor           : #37373F;
$mainFontSize            : 18px;
$titleFontSize           : 50px;
$headerTitleSize         : 115px;
$titleFontWeight         : 700;
$semiBoldFontWeight      : 600;
$mediumFontWeight        : 500;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 1120px;
$smallWidth              : 860px;
$tableWidth              : 768px;
$smTableWidth            : 680px;
$phoneWidth              : 650px;
$smPhoneWidth            : 570px;

$containerWidth          : 1600px;

// Main color
$defaultColor            : #ffffff;
$activeColor             : #FC9B09;
$lineColor               : #C7C7C7;
$showColor               : #5286EC;
$mainLightFont           : #B3B3B3;
$inputColor              : #37373F;
$copyBackground          : #FAF9F8;
$buttonShadow            : #BDE3EF;
$dropMenuItem            : #404040;
$trendTitleColor         : #333333;
$ShowcaseMenuColor       : #b394fa;
$productNameColor        : #777777;
$commitNumbColor         : #bbbbbb;
$likeIconColor           : #f96290;
$borderButtonArray       : #000000;

// Time
$transitionTime          : 0.1s;    // Время анимации всех ховеров
$scaleButtonAnimation    : 0.2s;    // Время анимации кнопок на карточках товаров
$scaleDropAnimation      : 0.15s;   // Время анимации выпадающего меню
