block variables

mixin mapList(item)
	li(class= item.class).map__item
		div(class= item.imgClass).map__info
			| !{item.info}
		.map__content
			.map__title= item.title
			.map__text= item.text
			if item.more
				button.map__more.more= item.more