
block variables

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0")
		title= title
		meta(name="description", content=description)

	body
		#wrapper.wrapper
			block header
			include ../includes/modules/modal
			main#main.main
				include ../includes/modules/section-fotoshoot
				include ../includes/modules/section-sponsor
				include ../includes/modules/entry
				include ../includes/modules/map
				include ../includes/modules/review
			block footer
		script(src="https://api-maps.yandex.ru/2.1/?apikey=d97b3be7-0320-4f5e-b565-77e82331ba7a&lang=ru_RU")


